@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");

.associates {
  font-size: 1.1em;
  margin: 15px;
}
.alibis {
  padding: 2em;
  min-width: 20%;
}
.associates-card {
  margin: 5px;
}
.dialog-titles {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}
.dialog-close-btn {
  width: 100%;
}
