.criminal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.criminal-template {
  margin: 14px;
  border: 1px solid;
  max-width: 250px;
  flex-wrap: wrap;
}
.criminals {
  padding: 1px;
  font-size: 18px;
}
.criminal-heading {
  text-align: center;
}
