summary:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-note {
  margin: 5px;
  width: 100px;
}
.delete-edit-btns {
  display: flex;
  justify-content: center;
}
.display-for-notes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.input {
  margin: 1.2em;
}
.notes-info {
  font-size: 20px;
  margin: 15px;
}
.notes-template {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
  margin: 5px;
  border: 1px solid;
}
.saved-notes-heading {
  text-align: center;
}
.summary {
  font-size: 25px;
}
