.display-for-notes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.btn {
  padding: 0.4em;
  margin: 0.5em;
}
.input {
  margin: 1.2em;
}
.notes-info {
  font-size: 20px;
}
.notes-template {
  border: 1px solid;
  padding: 1em;
  margin: 0.7em;
  min-width: 25%;
}
.saved-notes-heading {
  text-align: center;
}
