.display-for-notes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.btn {
  padding: 0.4em;
  margin: 0.5em;
}
.btn-placement {
  position: relative;
  top: 10px;
  right: 7px;
}
.input {
  margin: 1.2em;
}
.notes-info {
  padding: 0.5em;
}
.notes-template {
  border: 1px solid;
  padding: 1em;
  margin: 0.7em;
}
.saved-notes-heading {
  position: relative;
  left: 0.8em;
}
