@import "../styles/officers/officers.css";
@import "../styles/crimes/crimes.css";
@import "../styles/criminals/criminal.css";
@import "../styles/convictions/convictions.css";
@import "../styles/notes/notes.css";
@import "../styles/dialog/dialog.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #516395,
    #614385
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #516395,
    #614385
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #dbd4b4;
  font-family: "Open Sans Condensed", sans-serif;
  width: 98%;
}
.alibis-info {
  margin: 20px;
}
.dropdown {
  margin: 20px;
}
.display {
  background-color: rgb(7, 7, 7, 0.3);
  width: 102%;
}

.headingSection {
  text-align: center;
  font-size: 2.5em;
}
.filter {
  display: flex;
}
.filter-btn {
  position: relative;
  width: 100px;
  height: 27px;
  top: 20px;
  left: 15px;
}
.notes-and-select {
  position: relative;
  left: 15px;
}
